/* override the navigation bar defaults */
/* RIDE color palette
light green #48FFAF;
grey B6B6B6;
black 303436;

gradients
from lightgreen to grey
from 53D0C4 to 30C584

*/

.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
    padding: 0 40px 0 40px;
    margin : 0 !important;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000;
    border-top: 3px solid #FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    border-top: 3px solid #FFF;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: #FFF;
    border-top: 3px solid #48FFAF;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #000;
    background-color: #FFF;
}

.navbar-default .navbar-text {
    color: #000;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.RIDEnav {
    font-family: 'Bebas Neue';
    font-size: 14px;
}

#HeaderSection {
    background: url('./RIDE Grafiken/Ride-Landing-w900-q30.jpg') no-repeat center center;
    max-width: 900px;
    min-height: 439px;
    color: #FFF;
}

#HeaderSection h1{
    font-family: 'Bebas Neue';
    font-size: 52pt;  
    margin: 0px; 
}

#HeaderSection h2,h3{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    font-weight: 100;
    margin: 0px; 
}

#headline{
    position: relative;
    margin-left: 100px;
    padding-top: 80px;
}

#getStarted{
    position: relative;
    margin-left: 100px;
    width: 160px;
    height: 40px;
    color: #000;
    text-align: center;
    background: linear-gradient(to right, #30C584, #53D0C4);
    font-family: 'Bebas Neue';
    font-size: 16px;
    padding-top: 10px;

}

#Navbar2{
    position: relative;
    margin-left: 200px;
    margin-top: 70px;
    width: 360px;
    height: 40px;
    background-color: hsla(30,10%,0%, 0.3);
}

#Navbar2 ul{
    padding-top: 11px;
}

#Navbar2 li{
list-style: none;
float: left;
padding-right: 22px;
}

#Navbar2 a{
color: #FFF;
}

#MidSection {
      margin: 100px 0 100px 0;
}

.borderleft {
    border-left: 2px solid #48FFAF;
    padding-left: 30px;
}

.mission {
    font-family: 'Bebas Neue';
    font-color: #CCC;
    font-size: 18px
}

#Newsletter {
    background: url('./RIDE Grafiken/Ride-Bottom w900.png') no-repeat center center;
    min-height: 260px;
    color: #FFF;
    padding: 50px;
}


.form-signup {
    text-align: center;
}

.nocorner {
    border-radius: 0 !important;
}

.mybtn {
    border-radius: 0 !important;
    background-color: #000;
    color: #FFF;
    margin: -10px;
}

.FooterSection {
      padding: 80px 0 80px 0;
      text-align: center;
}